<aside class="sidebar" id="sidebar">
  <nav>
    <div class="dropdown">
      <h3 class="dropdown-toggle">Student ▼</h3>
      <div class="dropdown-menu">
        <a href="/student">➕ Add Student</a>
        <a href="/viewStudent">📋 View Students</a>
      </div>
    </div>

    <div class="dropdown">
      <h3 class="dropdown-toggle">Category ▼</h3>
      <div class="dropdown-menu">
        <a href="/addCategories">➕ Add Category</a>
        <a href="/viewCategories">📋 View Categories</a>
      </div>
    </div>

    <div class="dropdown">
      <h3 class="dropdown-toggle">Book ▼</h3>
      <div class="dropdown-menu">
        <a href="/addBookForm">➕ Add Book</a>
        <a href="/viewBooks">📚 View Books</a>
      </div>
    </div>

       <div class="dropdown">
        <h3 class="dropdown-toggle">Issue Book ▼</h3>
        <div class="dropdown-menu">
          <a href="books">➕ Issue Book</a>
          <a href="/viewIssuedBooks">📚 View Issued Books</a>
          <a href="/viewReturnedBooks">📚 View Returned Books</a>
          
        </div>
      </div>
  </nav>
</aside>