<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="home.css">
</head>
<body>
    <div class="container">
      <div class="header">
          <div class="logo">
              <a href="/"><img src="lib.png" alt=""></a>
              <h>LMS</h>
          </div>
          <div class="menu">
              <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">View Books</a></li>
                <li><a href="/login">Login</a></li>
              </ul>
          </div>
      </div>
    </div>
</body>
</html>