<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Library Management System</title>
  <link rel="stylesheet" href="home.css" />
</head>
<body>
  <div class="container">
    <div class="header">
      <div class="logo">
        <a href="/"><img src="lib.png" alt="Logo" /></a>
        <h3>L<span>M</span>S</h3>
      </div>
      <div class="menu">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="/about">About Us</a></li>
          <li><a href="#">View Books</a></li>
          <li><a href="/login">Login</a></li>
        </ul>
      </div>
    </div>

    <div class="main-cont">
      <div class="text">
        <h1>Welcome to our Library</h1>
      </div>
    </div>
  </div>
</body>
</html>
