* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}
.login-container {
  background-color: rgba(255, 255, 255, 0.85);
  padding: 40px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 90%;
  margin: auto;
  max-width: 400px;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #333;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  color: #555;
  font-size: 14px;
}

.form-group input {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 15px;
}

.form-group input:focus {
  border-color: #4A90E2;
  outline: none;
}

.btn {
  width: 100%;
  padding: 12px;
  background-color: #4A90E2;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.btn:hover {
  background-color: #357ABD;
}

.account-link {
  text-align: center;
  font-size: 14px;
  margin-top: 15px;
}

.account-link a {
  color: #4A90E2;
  text-decoration: none;
}

.account-link a:hover {
  text-decoration: underline;
}

.password-container {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: 7px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 16px;
  color: #666;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 30px;
  line-height: 1;
  padding-top: 10px; 
  
}

.toggle-password:hover {
  color: #4A90E2;
}

/* Small device responsiveness */
@media (max-width: 600px) {
  .login-container {
    padding: 30px 20px;
    margin-top: 100px;
  }

  .form-group input {
    padding: 8px 12px;
    font-size: 14px;
  }

  .btn {
    padding: 10px;
    font-size: 15px;
  }

  .toggle-password {
    right: 12px;
    font-size: 14px;
    width: 25px;
    padding-top: 6px; /* Adjusts for smaller input padding */
  }
} 